<html>
  <head>
    <link rel="stylesheet" href="https://website url here/css">
    <meta charset="utf-8">
    <meta name="title" content="otRaider!">
    <meta name="description" content="Kahoot Raider By otiopo!1">
    <title>otRaider!!1</title>
  </head>
  <body>
		<canvas id="canvas"></canvas>
    <center><p>OtRaider #1 website raider (#1 discord raider is trollraider)</p></center>
    <input type="text" id="id" placeholder="1234567">
    <input type="text" id="limit" placeholder="100">
    <input type="text" id="name" placeholder="trolled">
    <button onclick="raid()">RAID!1!1!</button>
							<center><h1>How to use!</h1></center>
							<center><p>Step 1: type the Kahoot ID</p></center>
							<center><p>Step 2: Enter the ammount of bots you wanna have</p></center>
							<center><p>Step 3: Enter the name of the bots</p></center>
							<center><p>Ok now its obvious retard, press the raid button</p></center>
  </body>
</html>
<script>
  function raid() {
    const id = document.getElementById("id").value;
    const limit = document.getElementById("limit").value;
    const name = document.getElementById("name").value;
    location.href = "https://website url here/raidApi?id=" + id + "&limit=" + limit + "&name=" + name;
 }
</script>
